<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            outline: 0;
            box-sizing: border-box;
        }

        body {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        #content {
            border: 1px solid #4caf50;
            border-radius: 8px;
            padding: 10px;
        }

        header {
            margin: 15px 0;
        }

        main {
            margin-top: 30px;
            text-align: center;
        }

        main p {
            margin-bottom: 8px;
        }

        footer {
            margin-top: 80px;
            text-align: right;
        }
    </style>
</head>

<body>

    <div id="content">
        <header>
            <p>Hi, <b>{{client_name}}</b>.</p>
            <span>Please, scan this QRCode to start your whatsapp bot.</span>

        </header>

        <main>
            <p>{{client_number}}</p>
            <img src={{qrcode}} alt="Whastapp QRCode" />
        </main>

        <footer>
            <span>Sincerely, <b>equipe do projeto</b></span>
        </footer>
    </div>
</body>

</html>